<!-- Footer Section -->
<footer>
    <div class="footer-container">
        <div class="footer-links">
            <div class="footer-column">
                <h3>Contact Us</h3>
                <ul>
                    <li>Address</li>
                    <li>Email</li>
                    <li>Contact Number</li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Information</h3>
                <ul>
                    <li><a href="/views/Assignment">Blogs</a></li>
                    <li><a href="/views/Assignment">Size Guide</a></li>
                    <li><a href="/views/Assignment">About Us</a></li>
                    <li><a href="/views/Assignment">Catalogues</a></li>
                    <li><a href="/views/Assignment">Privacy Policy</a></li>
                    <li><a href="/views/Assignment">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Customer Service</h3>
                <ul>
                    <li><a href="/views/Assignment">FAQs</a></li>
                    <li><a href="/views/Assignment">Order Tracking</a></li>
                    <li><a href="/views/Assignment">Store Locator</a></li>
                    <li><a href="/views/Assignment">Contact Us</a></li>
                    <li><a href="/views/Assignment">Return & Exchange Policy</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Follow Us</h3>
                <ul>
                    <li>Subscribe to the newsletter</li>
                    <li>
                        <div class="newsletter-fields">
                            <div class="newsletter-email">
                                <input type="email" name="contact[email]" placeholder="Your email address" required>
                            </div>
                            <div class="newsletter-btn">
                                <button type="submit" class="subscribe-btn">
                                    <span>Subscribe</span>
                                    <span class="loading-spinner" style="display: none;">
                                        <svg width="16" height="16" aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                            <circle fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                        </svg>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </li>
                    <li><a href="/views/Assignment">Facebook  </a><a href="/views/Assignment">Instagram  </a><a href="/views/Assignment">YouTube</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>