<!-- Header Section -->
<header>
    <div class="header-container">
        <div class="logo-and-icons">
            <a href="/views/Assignment">
                <img src="/images/main_logo.png" class="header__normal-logo" width="120" height="40" alt="Main Logo">
            </a>
        </div>
        <div class="header-icons">
            <a href="/views/Assignment"><img src="/images/header_icon_1.png" alt="Search Icon" class="header-icon"></a>
            <a href="/views/Assignment"><img src="/images/header_icon_2.png" alt="Logo Icon" class="header-icon"></a>
            <a href="/views/Assignment"><img src="/images/header_icon_3.png" alt="Tracking Icon" class="header-icon"></a>
            <a href="/views/Assignment"><img src="/images/header_icon_4.png" alt="Cart Icon" class="header-icon"></a>
        </div>
    </div>
    <nav>
        <ul class="nav-menu">
            <li><a href="/views/Assignment">NEW IN</a></li>
            <li><a href="/views/Assignment">WOMEN</a></li>
            <li><a href="/views/Assignment">LUXURY</a></li>
            <li><a href="/views/Assignment">MEN</a></li>
            <li><a href="/views/Assignment">HOME</a></li>
            <li><a href="/views/Assignment">ACCESSORIES</a></li>
            <li><a href="/views/Assignment" class="highlight">CLEARANCE SALE</a></li>
        </ul>
    </nav>
</header>