<!-- Main Body Section -->
<main>
    <section class="main-banner">
        <img src="/images/main_image.png" alt="Banner Image">
        <div class="banner-text">
            <h2>Check my CV</h2>
            <a href="/views/cv" class="shop-now-btn">View CV</a>
        </div>
    </section>

    <section class="image-gallery">
        <div class="gallery-item">
            <a href="#">
                <img src="/images/Gallery_Images.png" alt="View Unstitched">
                <button class="gallery-btn">View Unstitched</button>
            </a>
        </div>
        <div class="gallery-item">
            <a href="#">
                <img src="/images/Gallery_Images.png" alt="Freedom to buy">
                <button class="gallery-btn">Freedom to buy</button>
            </a>
        </div>
        <div class="gallery-item">
            <a href="#">
                <img src="/images/Gallery_Images.png" alt="Men">
                <button class="gallery-btn">Men</button>
            </a>
        </div>
        <div class="gallery-item">
            <a href="#">
                <img src="/images/Gallery_Images.png" alt="Luxury">
                <button class="gallery-btn">Luxury</button>
            </a>
        </div>
        <div class="gallery-item">
            <a href="#">
                <img src="/images/Gallery_Images.png" alt="Ready to Stitch">
                <button class="gallery-btn">Ready to Stitch</button>
            </a>
        </div>
        <div class="gallery-item">
            <a href="#">
                <img src="/images/Gallery_Images.png" alt="Pret">
                <button class="gallery-btn">Pret</button>
            </a>
        </div>
    </section>

    <!-- New Main Banner Section -->
    <section class="main-banner">
        <a href="#">
            <img src="/images/main_image_1.png" alt="New Banner Image">
        </a>
    </section>

    <!-- New Image Gallery -->
    <section class="image-gallery">
        <div class="gallery-item1">
            <a href="#">
                <img src="/images/Gallery_Images.png" alt="Image 1">
            </a>
        </div>
        <div class="gallery-item1">
            <a href="#">
                <img src="/images/Gallery_Images.png" alt="Image 2">
            </a>
        </div>
        <div class="gallery-item1">
            <a href="#">
                <img src="/images/Gallery_Images.png" alt="Image 3">
            </a>
        </div>
    </section>
    
</main>